
/* ======== Header =========*/

/* Menu */
.navbar-collapse{
  justify-content: flex-end;
}

.header-phone{
  color: #1e2f74;
  font-weight: 700;
}

.header-phone i{
    transform: rotateY(-180deg);
    color: #1e2f74;
}

.header-menu{
  font: 300 14px 'Open Sans';
  padding-top: 20px;
  padding-bottom: 20px;
}

#navMain{
  border-right: 1px solid #cacddc;
  margin-right: 20px;
}

#navMain .navbar-nav a{
  margin: 0 15px;
  color: #1e2f74;
}

#navMain .navbar-nav a.nav-item.nav-link.active{
  font-weight: 600;
  color: #fff;
  background-color: #1e2f74;
}
#navMain .navbar-nav a.nav-item.nav-link:hover{
  color: #fff;
  background-color: #1e2f74;
}

/* ============= ATF ===========*/

#sec-atf{
  background-image: url(imgs/atf-fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 95vh;
  display: flex;
  align-items: center;
}

#sec-atf .container{

}

#sec-atf h1{
  font:400 42px 'Open Sans';
  line-height: 46px;
  color: #003366;
  margin-bottom: 20px;
}

#sec-atf .title-text{
  font: 500 18px 'Open Sans';
  color:#003366;
  margin-bottom: 30px;
}

.btn-cta{
  display: inline-block;
  width: 290px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font: 700 22px 'Open Sans';
  text-decoration: none;
  color: #fff;
  background: #da377a; /* Old browsers */
  background: -moz-linear-gradient(left, #da377a 4%, #da377a 4%, #1e3072 93%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #da377a 4%,#da377a 4%,#1e3072 93%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #da377a 4%,#da377a 4%,#1e3072 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da377a', endColorstr='#1e3072',GradientType=1 ); /* IE6-9 */
}

.btn-cta:hover{
  text-decoration: none;
  color: #fff;
  background: #da377a; /* Old browsers */
  background: -moz-linear-gradient(right, #da377a 4%, #da377a 4%, #1e3072 93%); /* FF3.6-15 */
  background: -webkit-linear-gradient(right, #da377a 4%,#da377a 4%,#1e3072 93%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left, #da377a 4%,#da377a 4%,#1e3072 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e3072', endColorstr='#da377a',GradientType=1 ); /* IE6-9 */

}

/* clientes */
#clientes{
  padding-top: 80px;
  padding-bottom: 80px;
}

#clientes .cli-titulo{
  text-align: center;
  justify-content: center;
}

  #clientes h2{
    text-align: center;
    background-image: url(imgs/ico_01.png) ,url(imgs/lineas_fondo.jpg);
    background-repeat: no-repeat;
    background-size: auto, 100% 100%;
    background-position: 330px center,center;
    display: inline-block;
    padding: 15px 86px;
    text-transform: uppercase;
    font: 300 23px 'Open Sans';
    color:#003366;
  }
  #clientes h2 strong{ font-weight: 700;}

#clientes .cli-logos{ padding-top: 80px; align-items: center;
    justify-content: center; }

#clientes .cli-logos img{
  width: 100%;
}

@media(max-width:400px) {
  #clientes h2{ background-size: 0px 0px, 100% 100%; }
}

/* nosotros */
#nosotros{
  padding-top: 80px;
  padding-bottom: 80px;
  color: #003366;
  font: 300 18px 'Ubuntu';
  line-height: 25px;
  background-color: #f1f1f1;
}

#nosotros h2{
  background-image: url(imgs/ico_02.png);
    background-repeat: no-repeat;
    background-position: right top;
    display: inline-block;
    padding-right: 0px;
    padding-top: 30px;
    font: 300 41px 'Ubuntu';
    letter-spacing: 5px;
    text-align: right;
    color: #003366;
}

#nosotros .text-title{
  padding: 30px;
}

  #nosotros h2 strong{
    font-weight: 600;
  }

  #nosotros .text-title .content{
    padding-left: 30px;
    padding-top: 20px;
    text-align: justify;
  }

  @media (max-width:991px) {
    #nosotros h2{ font-size: 28px;}
    #nosotros{ font-size: 16px; line-height: 22px;}
  }
  @media(max-width:450px){
    #nosotros .text-title{ padding: 0px; margin-bottom: 35px;}
  }

#nosotros .text-des{
  border-top: 1px solid #003366;
  border-radius: 0 8px 0 0;
  margin:0 15px 40px;
}
#nosotros .text-des > div {
  padding: 50px 25px 0;
}

  #nosotros .text-des .parr-1{
    text-align: right;
    border-right: 1px solid #003366;
    padding-left: 0;
  }
    #nosotros .text-des .parr-1 h3{
      font: 700 19px 'Open Sans';
      margin-bottom: 20px;

    }
  #nosotros .text-des .parr-2{
    padding-left: 30px;
    text-align: justify;
  }
  #nosotros .text-des .parr-3{
    color:#fff;
    background-color: #003366;
    border-radius: 8px;
  }
    #nosotros .text-des .parr-3:after{
      content: url('imgs/icon-triangle-blue.jpg');
      position: absolute;
    }

@media(max-width:991px){
  #nosotros .text-des{ border-radius: 0;}
  #nosotros .text-des > div{ padding: 35px 15px 0;}
  #nosotros .text-des .parr-1,
  #nosotros .text-des .parr-2{ padding-left: 15px; }
}
@media(max-width:767px){
  #nosotros .text-des{ border-top: 0;}
  #nosotros .text-des .parr-1{ border-right: 0; text-align: justify;}
}
@media(max-width:575px){
  #nosotros .text-des{ font-size: 14px; line-height: 18px;}
}


#nosotros .text-fila{
    margin: 0 15px;
    padding: 15px;
    font: 300 24px 'Ubuntu';
    line-height: 34px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 0px #b1b1b1;
}
  #nosotros .text-fila  .row{ align-items: center;}

  .text-fila__text{
    padding: 40px 180px 40px 40px;
    border-right: 1px solid #003366;
  }
  .text-fila__chat{
    text-align: center;
  }
  .text-fila__chat img{
    display: block;
    margin: 20px auto;
  }
  .text-fila__chat a{ color: #003366; display: block;}
  .text-fila__chat a:hover{
    text-decoration: none;
    color: #fff;
    background-color: #003366;
  }

  @media(max-width:992px){
    #nosotros .text-fila{ font-size: 20px;}
    .text-fila__text{ padding: 40px 40px 40px 40px;}
  }
  @media(max-width:576px){
    #nosotros .text-fila{ font-size: 16px; line-height: 22px;}
    .text-fila__text{ padding: 15px; }
  }


/* servicios */
.block-serv{
  padding-top: 60px;
  padding-bottom: 60px;
}
.block-serv .text-title h2{
  font: 300 23px 'Ubuntu';
  color:#003366;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 20px;
  background-image: url(imgs/ico_02.png);
  background-repeat: no-repeat;
  background-position: center top;
}
.block-serv .text-title h2 strong{ font-weight: 700;}
.block-serv .text-content .parr-1{
  text-align: right;
  border-right: 1px solid #003366;
}
.block-serv .text-content .parr-2{
  text-align: left;
  padding-right: 0;
}
.block-serv .text-content{
  font: 300 18px 'Ubuntu';
  color: #003366;
  line-height: 26px;
  border-top: 1px solid #003366;
  margin: 0 30px;
}
.block-serv .text-content strong{font-weight: 700;}
.block-serv .text-content div{
  padding: 40px 45px 0;
}

@media(max-width:991px){
  .block-serv .text-content{ margin-left: -15px; margin-right: -15px; }
  .block-serv .text-content div{ padding: 25px 25px 0; }
}
@media(max-width:575px){
  .block-serv .text-content .parr-1,
  .block-serv .text-content .parr-2{ border-right: 0; text-align: justify; padding-right: 25px;}
}

  /* abarcamos */
  .title-blue{
    text-align: center;
  }
  .title-blue h3{
    font: 600 18px 'Open Sans';
    color:#fff;
    display: inline-block;
    padding:15px 60px;
    margin: 35px 0;
    background-color: #0a2c74;
    background-image: url(imgs/icon-esquina.jpg),url(imgs/icon-esquina_r.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left center, right center;
  }
  .abarcamos-items{
    color: #003366;
    justify-content: center;
  }
  .abarcamos-items > div{
    padding: 0;
    margin-bottom: 35px;
  }
  .abarcamos-items .abar_img{
    text-align: center;
    margin-bottom: 15px;
  }
  .abarcamos-items .abar_img img{
    max-width: 100%;
  }
  .abarcamos-items h4{
    font: 900 16px 'Open Sans';
    color: #003366;
    text-align: center;
  }
  .abarcamos-items .abar_text{
    font: 300 16px 'Open Sans';
    text-align: center;
    border-right: 1px solid #003366;
    padding: 0 25px;
  }
  .abarcamos-items > div:last-child .abar_text{ border-right: 0;}

    @media(max-width:991px){
      .abarcamos-items > div:nth-child(2n) .abar_text{ border-right: 0;}
    }
    @media(max-width:575px){
      .abarcamos-items .abar_text{ padding: 0 15px;}
    }


#servicios {

}



#sec-analitica{
  background-color: #f1f1f1;
}

#sec-transformacion .abarcamos-items{
  color: #bc3a76;
}
#sec-transformacion .abarcamos-items h4{
  color: #bc3a76;
}

@media(max-width:767px){
  #servicios .text-title h2{ background-image: none; }
}


/* contacto */
#sec-contacto{
  background-image: url(imgs/img_footer_02.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 35px;
  padding-bottom: 35px;
}
  .contacto-top{ margin-bottom: 60px; }

  .precio-fila{
    background-color: #fff;
    color: #003366;
    font: 400 30px 'Ubuntu';
    box-shadow: 0px 2px 5px 4px #dadada;
    border-radius: 0 10px 10px 0;
  }
  .precio-fila_tit{
    text-align: center;
    padding: 20px;
    border-right: 1px solid;
    margin: 10px 0;
  }
  .precio-fila_tit strong{ font-weight: 700 }

  .precio-fila_mon{
    padding: 30px 15px;
    text-align: center;
  }
  .precio-fila_con{

    padding: 30px 15px;
    text-align: center;
    border-radius: 10px;
    background: #da377a; /* Old browsers */
    background: -moz-linear-gradient(left, #da377a 4%, #da377a 4%, #1e3072 93%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #da377a 4%,#da377a 4%,#1e3072 93%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #da377a 4%,#da377a 4%,#1e3072 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da377a', endColorstr='#1e3072',GradientType=1 ); /* IE6-9 */
  }
  .precio-fila_con a{
    color: #fff;
    font: 400 30px 'Ubuntu';
  }
  .precio-fila_con a:hover{text-decoration: none;}

  @media(max-width:767px){
    .precio-fila,.precio-fila_con a{font-size: 25px;}

  }


  .contacto-form{
    background-color: #fff;
    padding: 50px 50px 0;
  }
  .contacto-form .form-tit h2{
    font: 300 23px 'Ubuntu';
    color:#003366;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px;
  }
  .contacto-form .form-tit h2 strong{font-weight: 700;}

  .form-cont{
    padding-top: 15px;
    color: #003366;
    font: 300 16px 'Ubuntu';
  }

  .form-cont input, .form-cont textarea{
    display: block;
    border: 1px solid #003366;
    border-radius: 8px;
    margin-bottom: 30px;
    width: 100%;
    padding: 15px 30px;
  }
    .form-cont input::placeholder,.form-cont textarea::placeholder{ color: #003366; }

    .form-cont textarea{
      height: 100%;
    }

    .form-cont select{
      width: 100%;
      padding: 15px 30px;
      border-radius: 8px;
      border: 1px solid #003366;
      color: #003366;
      margin-bottom: 30px;
    }

    .cont-btn{
      text-align: center;
      padding-top: 30px;
    }

    .cont-btn input[type="submit"] {
      font: 700 26px 'Ubuntu';
      color: #fff;
      background-color: #003366;
      border-radius: 5px;
      padding: 20px;
      display: inline-block;
      max-width: 260px;
    }

    @media(max-width: 575px){
      .contacto-form{
        padding: 50px 15px 0;
      }
      .form-cont input, .form-cont textarea, .form-cont select{
        margin-bottom: 15px;
      }

      .cont-btn input[type="submit"] {
        padding: 15px; max-width: 220px;
        font-size: 22px;
      }
    }
@media(max-width:767px){
    #text-nosotros{
      display: none;
    }
}
